@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', sans-serif;
}

body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-track {
	background-color: #102b57;
}

body::-webkit-scrollbar-thumb {
	background-color: #428BFF;
}

.color1 { background-color: #000016; }
.color2 { background-color: #0d0e25; }
.color3 { background-color: #1b1d33; }
.color4 { background-color: #282b42; }
.color5 { background-color: #353950; }

.btn-whatsapp {
    position: relative;
}

.btn-whatsapp::before,
.btn-whatsapp::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #00e676;
    opacity: 0;
    animation: onda 1.7s infinite;
}

.btn-whatsapp::before {
    animation-delay: 1s;
}

.btn-whatsapp::after {
    animation-delay: 1.3s;
}

.btn-whatsapp img {
    position: relative;
    z-index: 2;
}

@keyframes onda {
    0% {
        transform: scale(1);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

/* Banner */
.banner img {
    filter: drop-shadow(0px 4px 20px #361d8f);
}

.banner img:hover {
    animation: moveUpAnimation 3s infinite;
}

@keyframes moveUpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.colorTextBanner {
    color: #9000ff;
}

.box {
    position: relative;
    overflow: hidden;
}

:root {
    --angle: 45deg;
    --opacity: 0.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.rainbow {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding: 10rem;
    margin: auto;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 1.5em;
    --border-size: 0.3rem;
    border: var(--border-size) solid transparent;
    /* Paint an image in the border */
    border-image: conic-gradient(
        from var(--angle),
        #d53e33 0deg 90deg,
        #fbb300 90deg 180deg,
        #377af5 180deg 270deg,
        #399953 270deg 360deg
    )
    1 stretch;
}

  /* Animate when Houdini is available */
@supports (background: paint(houdini)) {
    @property --opacity {
        syntax: "<number>";
        initial-value: 0.5;
        inherits: false;
    }
    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }
    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }
    .rainbow {
        animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
    }
}

.typing-effect {
    border-right: 3px solid #000;
    white-space: nowrap;
    display: inline-block;
}

.typing-text {
    display: inline-block;
    vertical-align: baseline;
    background-clip: text;
    color: transparent;
    font-weight: 500;
    background-image: linear-gradient(to right, #9000ff, #cc66ff, #ff66cc, #ff9999, #6699ff);
    animation: typing-animation 0.75s step-end infinite;
}

@keyframes typing-animation {
    from,
    to {
        border-right: 3px solid transparent;
    }
    50% {
        border-right: 3px solid #fff; /* Color del borde al escribir */
    }
}

/* Carrusel de proyectos */
.swiperProyectos {
    width: 20rem;
}

.swiper-slideProyectos {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 5rem 0 8rem 0;
}

.swiper-slideProyectos img {
    display: block;
    width: 100%;
    height: 14rem;
}

@media (min-width: 768px) {
    .swiperProyectos {
        width: 40rem;
    }

    .swiper-slideProyectos img {
        display: block;
        width: 100%;
        height: 16rem;
    }
}

@media (min-width: 994px) {
    .swiperProyectos {
        width: 60rem;
    }

    .swiper-slideProyectos img {
        display: block;
        width: 100%;
        height: 20rem;
    }
}

@media (min-width: 1140px) {
    .swiperProyectos {
        width: 68rem;
    }

    .swiper-slideProyectos img {
        display: block;
        width: 100%;
        height: 20rem;
    }
}

@media (min-width: 1280px) {
    .swiperProyectos {
        width: 90rem;
    }

    .swiper-slideProyectos img {
        display: block;
        width: 100%;
        height: 20rem;
    }
}