@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', sans-serif;
}

.color-primario {
    background-color: #000016;
}
.color-secundario {
    background-color: #1b1d33;
}